<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" th:action="@{/book/add}" th:object="${dataAboutBook}">
    <label for="name">name</label>
    <input  type="text" th:field="*{name}" id="name">
    <Br>
    <label for="autor">autor</label>
    <input  type="text" th:field="*{autor}" id="autor">
    <Br>
    <label for="year_relese">year_relese</label>
    <input  type="text" th:field="*{year_relese}" id="year_relese">
    <Br>
    <button type="submit">add</button>
</form>
</body>
</html>