<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" th:action="@{/book/add}" th:object="${dataAboutBook}">
    <label for="name">Введите названия книги</label>
    <input  type="text" th:field="*{title}" id="name">
    <Br>
    <label for="autor">Введите имя автора</label>
    <input  type="text" th:field="*{autor}" id="autor">
    <Br>
    <label for="year_relese">Введите год релиза</label>
    <input  type="text" th:field="*{year}" id="year_relese">
    <Br>
    <button type="submit">добавить</button>
</form>
</body>
</html>