<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/user/{id}(id=${dataAboutBook.getId()})}" th:object="${dataAboutBook}">
  <label for="name">Введите названия книги</label>
  <input  type="text" th:field="*{title}" id="name">
  <br>
  <div style="color: red" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">error</div>
  <Br>
  <label for="autor">Введите имя автора</label>
  <input  type="text" th:field="*{autor}" id="autor">
  <Br>
  <div style="color: red" th:if="${#fields.hasErrors('autor')}" th:errors="*{autor}">error</div>
  <Br>
  <label for="year_relese">Введите год релиза</label>
  <input  type="text" th:field="*{year}" id="year_relese">
  <Br>
  <button type="submit">обновить</button>
</form>
</body>
</html>