<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <title>info about book</title>
</head>
<body>
<h2 th:text="${dataAboutBook.getTitle()}"/>

<p th:text="${dataAboutBook.getAutor()}"/>

<p th:text="${dataAboutBook.getYear()}"/>



<a th:if="${dataAboutBook.getPerson()}">
  <a th:href="@{/user/{id}(id=${dataAboutBook.getPerson().getId()})}" th:text="${dataAboutBook.getPerson().getFull_name()}"/>
</a>
<a ></a>
<form th:if="${dataAboutBook.getPerson()}" th:method="patch" th:action="@{/book/updateNull/{id}(id=${dataAboutBook.getId()})}">
    <button type="submit"> забрать книгу </button>
</form>
<a th:unless="${dataAboutBook.getPerson()}">
  Эта книга свободна
</a>

<form th:unless="${dataAboutBook.getPerson()}" th:method="patch" th:action="@{/book/updateId/{id}(id=${dataAboutBook.getId()})}">

  <label for="person">выберите пользователя</label>
  <select th:object="${person}" th:field="*{id}" id="person">

    <option th:each="person : ${people}" th:value="${person.getId()}" th:text="${person.getFull_name()}"/>

  </select>

  <button type="submit">give</button>
</form>

<hr>
<form method="get" th:action="@{/book/{id}/editUser(id=${dataAboutBook.getId()})}">
  <input type="submit" value="update">
</form>
<form th:method="DELETE" th:action="@{/book/{id}(id=${dataAboutBook.getId()})}">
  <input type="submit" value="Delete"/>
</form>

</body>
</html>