<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/user/{id}(id=${dataAboutUser.getId()})}" th:object="${dataAboutUser}">
    <label for="name">Введите имя</label>
    <input  type="text" th:field="*{full_name}" id="name">
    <br>
    <!--<div style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{full_name}">error</div>
    <Br>-->
    <label for="year_born">Введите год рождения</label>
    <input  type="text" th:field="*{yearOfBirth}" id="year_born">
    <Br>
    <button type="submit">обновить</button>
</form>
</body>
</html>