<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>info about user</title>
</head>
<body>


<p th:text="${User.getFull_name()}"/>

<p th:text="${User.getYearOfBirth()}"/>


<p th:each="book : ${User.getBooks()}" th:if="${User.getBooks()}">
    <a  th:if="${book.getReturnDate().getDate() == data.getDate()}" style="color: red" th:text="${book.getTitle()}"/>
    <a  th:unless="${book.getReturnDate().getDate() == data.getDate()}"th:text="${book.getTitle()}"/>
</p>
<p th:unless="${User.getBooks()}">Этот человек пока не брал книги</p>

<form method="get" th:action="@{/user/{id}/editUser(id=${User.getId()})}">
    <input type="submit" value="обновить">
</form>

<form th:method="DELETE" th:action="@{/user/{id}(id=${User.getId()})}">
    <input type="submit" value="удалить"/>
</form>
</body>
</html>